@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    background-color: rgb(255, 230, 0);
    color: #555;
    padding: 1rem;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid #555;
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    background-color: rebeccapurple;
    color: #fff;
    padding: 2rem;
    border-radius: 5px;
    margin: 1rem;
}